<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668726299537-dcvp4furcsiv939li6jv46oinh0mie4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668726299537-dcvp4furcsiv939li6jv46oinh0mie4q</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQGX5Kcf3MOagSSnIWElzyGw-MfWUESc</string>
	<key>GCM_SENDER_ID</key>
	<string>668726299537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DuT0mi.FormGenerator</string>
	<key>PROJECT_ID</key>
	<string>formgenerator-b9012</string>
	<key>STORAGE_BUCKET</key>
	<string>formgenerator-b9012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668726299537:ios:a37e0e2e35125dfd04a830</string>
</dict>
</plist>